<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Housvibe: About Us</title>
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="housvibe Interior Design - HTML Template">
    <meta name="keywords" content="housvibe Interior Design, html, template, responsive, corporate, business, Construction">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
    <!-- favicon -->
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css" id="main-styles-link">

</head>

<body>
    <div class="page">
        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="housvibe-navbar-wrap">
                <nav class="housvibe-navbar housvibe-navbar-modern" data-layout="housvibe-navbar-fixed" data-sm-layout="housvibe-navbar-fixed" data-md-layout="housvibe-navbar-fixed" data-md-device-layout="housvibe-navbar-fixed" data-lg-layout="housvibe-navbar-static"
                    data-lg-device-layout="housvibe-navbar-fixed" data-xl-layout="housvibe-navbar-static" data-xl-device-layout="housvibe-navbar-static" data-xxl-layout="housvibe-navbar-static" data-xxl-device-layout="housvibe-navbar-static" data-lg-stick-up-offset="46px"
                    data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="70px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="housvibe-navbar-main-outer">
                        <div class="housvibe-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="housvibe-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="housvibe-navbar-toggle" data-housvibe-navbar-toggle=".housvibe-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="housvibe-navbar-brand">
                                    <a class="brand" href="index"><img src="images/logos/small-logo-default.png" class="logo-sticky" alt="" title=""></a>
                                </div>
                            </div>
                            <div class="housvibe-navbar-main-element">
                                <div class="housvibe-navbar-nav-wrap">

                                    <!-- RD Navbar Nav-->
                                    <ul class="housvibe-navbar-nav">
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="index">Home</a>
                                            <!-- RD Navbar Dropdown-->
                                            <!-- <ul class="housvibe-menu housvibe-navbar-dropdown">
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index">Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-1">Classical Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-2">Video Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-3">Partical Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-4">TypeWriter Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-5">Typer+Partical Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-6">Bubbles Home</a></li>

                                            </ul> -->
                                        </li>
                                        <li class="housvibe-nav-item active"><a class="housvibe-nav-link" href="about-us">About Us</a> </li>
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="grid-gallery">Portfolio</a>
                                            <!-- RD Navbar Dropdown-->
                                            <ul class="housvibe-menu housvibe-navbar-dropdown">
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="grid-gallery">Grid Gallery</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="full-width-gallery">Full width Gallery</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="masonry-gallery">Masonry Gallery</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="full-width-masonry-gallery">Full Width Masonry Gallery</a></li>

                                            </ul>
                                        </li>
                                        
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="faq">Faq</a>
                                            <!-- RD Navbar Dropdown-->
                                            <!-- <ul class="housvibe-menu housvibe-navbar-dropdown">
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="shop">Shop</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="single-product">Single Product</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="cart-page">Cart Page</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="checkout">Checkout</a></li>
                                            </ul>-->
                                        </li>
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="contact-us">Contact Us</a> </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Breadcrumbs -->
        <section class="breadcrumbs-custom-inset">
            <div class="breadcrumbs-custom context-dark">
                <div class="container">
                    <h2 class="breadcrumbs-custom-title">ABOUT US</h2>
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="index">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">ABOUT US</li>
                    </ul>
                </div>
                <div class="box-position" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
            </div>
        </section>

        <!-- Why choose us-->
        <section class="section section-sm bg-default text-md-left bg_second_cl">
            <div class="container">
                <div class="row row-50 justify-content-center align-items-xl-center">
                    <div class="col-md-10 col-lg-5 col-xl-6"><img src="images/about-1-519x564.png" alt="" width="519" height="564" /> </div>
                    <div class="col-md-10 col-lg-7 col-xl-6">
                        <h1 class="text-spacing-25 font-weight-normal title-opacity-9">Why choose us</h1>
                        <!-- Bootstrap tabs-->
                        <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-4">
                            <!-- Nav tabs-->
                            <ul class="nav nav-tabs">
                                <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-4-1" data-toggle="tab">Experience</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-4-2" data-toggle="tab">Skills</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-4-3" data-toggle="tab">Mission</a></li>
                            </ul>
                            <!-- Tab panes-->
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tabs-4-1">
                                    <p>We are committed to delivering inspired designs that fulfill client expecations through collaboration and exceptional service. Our goal is always to create designs tailored to our clients unique personal styles and practical needs. We specialize in full-service interior design, including custom furniture, electrical work, false-ceiling, painting and all kind of civil work.</p>
                                    <!-- Linear progress bar-->
                                    <article class="progress-linear">
                                        <div class="progress-header">
                                            <p>Flooring Design</p>
                                        </div>
                                        <div class="progress-bar-linear-wrap">
                                            <div class="progress-bar-linear"><span class="progress-value">79</span><span class="progress-marker"></span></div>
                                        </div>
                                    </article>
                                    <!-- Linear progress bar-->
                                    <article class="progress-linear">
                                        <div class="progress-header">
                                            <p>Custom Projects</p>
                                        </div>
                                        <div class="progress-bar-linear-wrap">
                                            <div class="progress-bar-linear"><span class="progress-value">72</span><span class="progress-marker"></span></div>
                                        </div>
                                    </article>
                                    <!-- Linear progress bar-->
                                    <article class="progress-linear">
                                        <div class="progress-header">
                                            <p>Complex solutions</p>
                                        </div>
                                        <div class="progress-bar-linear-wrap">
                                            <div class="progress-bar-linear"><span class="progress-value">88</span><span class="progress-marker"></span></div>
                                        </div>
                                    </article>
                                    <a class="button button-secondary button-ujara" href="#">BOOK A CONSULATION</a>
                                </div>
                                <div class="tab-pane fade" id="tabs-4-2">
                                    <div class="row row-40 justify-content-center text-center inset-top-10">
                                        <div class="col-sm-4">
                                            <!-- Circle Progress Bar-->
                                            <div class="progress-bar-circle" data-value="0.87" data-gradient="#976f55" data-empty-fill="transparent" data-size="150" data-thickness="12" data-reverse="true"><span></span></div>
                                            <p class="progress-bar-circle-title">Experience</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <!-- Circle Progress Bar-->
                                            <div class="progress-bar-circle" data-value="0.74" data-gradient="#976f55" data-empty-fill="transparent" data-size="150" data-thickness="12" data-reverse="true"><span></span></div>
                                            <p class="progress-bar-circle-title">Dedication</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <!-- Circle Progress Bar-->
                                            <div class="progress-bar-circle" data-value="0.99" data-gradient="#976f55" data-empty-fill="transparent" data-size="150" data-thickness="12" data-reverse="true"><span></span></div>
                                            <p class="progress-bar-circle-title">Knowledge</p>
                                        </div>
                                    </div>
                                    <div class="group-md group-middle"><a class="button button-width-xl-230 button-secondary button-pipaluk" href="#">Get in touch</a><a class="button button-width-xl-310 button-default-outline button-wapasha" href="#">Download presentation</a></div>
                                </div>
                                <div class="tab-pane fade" id="tabs-4-3">
                                    <p>Ubi est secundus nuclear vexatum iacere? Abaculus ortums, tanquam dexter gemna. Bi-color brodiums ducunt ad victrix. Glos bi-color fides est. Est rusticus gemna, cesaris. Mirabilis, grandis gabaliums rare imperium.</p>
                                    <div class="text-center text-sm-left offset-top-30">
                                        <ul class="row-16 list-0 list-custom list-marked list-marked-sm list-marked-primary d-inline-block d-sm-block">
                                            <li>Torquiss prarere</li>
                                            <li>Extums mori</li>
                                            <li>Cedriums ridetis</li>
                                            <li>Menss cantare</li>
                                            <li>Accentors velum</li>
                                            <li>Parmas unda</li>
                                        </ul>
                                    </div>
                                    <div class="group-md group-middle"><a class="button button-width-xl-230 button-secondary button-pipaluk" href="#">Get in touch</a><a class="button button-width-xl-310 button-default-outline button-wapasha" href="#">Download presentation</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Latest Projects-->
        <section class="section section-sm section-fluid bg-default">
            <div class="container">
                <h3>Project timeline</h3>
            </div>
            <!-- Owl Carousel-->
            <div class="owl-carousel owl-classic owl-timeline" data-items="1" data-md-items="2" data-lg-items="3" data-xl-items="4" data-margin="30" data-autoplay="true" data-nav="true" data-dots="true">
                <div class="owl-item">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary thumbnail-md">
                        <div class="thumbnail-mary-figure"><img src="images/products/products-img-14.jpg" alt="" width="420" height="308" /> </div>
                        <div class="thumbnail-mary-caption">
                            <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-14.jpg" data-lightgallery="item"><img src="images/products/products-img-14.jpg" alt="" width="420" height="308" /></a>
                        </div>
                    </article>
                    <div class="thumbnail-mary-description">
                        <h5 class="thumbnail-mary-project"><a href="single-project">Interior Design</a></h5>
                        <span class="thumbnail-mary-decor"></span>
                        <h5 class="thumbnail-mary-time">
                            <time datetime="2012">2020</time>
                        </h5>
                    </div>
                </div>
                <div class="owl-item">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary thumbnail-md">
                        <div class="thumbnail-mary-figure"><img src="images/products/products-img-15.jpg" alt="" width="420" height="308" /> </div>
                        <div class="thumbnail-mary-caption">
                            <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-15.jpg" data-lightgallery="item"><img src="images/products/products-img-15.jpg" alt="" width="420" height="308" /></a>
                        </div>
                    </article>
                    <div class="thumbnail-mary-description">
                        <h5 class="thumbnail-mary-project"><a href="single-project">Interior Design</a></h5>
                        <span class="thumbnail-mary-decor"></span>
                        <h5 class="thumbnail-mary-time">
                            <time datetime="2014">2020</time>
                        </h5>
                    </div>
                </div>
                <div class="owl-item">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary thumbnail-md">
                        <div class="thumbnail-mary-figure"><img src="images/products/products-img-16.jpg" alt="" width="420" height="308" /> </div>
                        <div class="thumbnail-mary-caption">
                            <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-16.jpg" data-lightgallery="item"><img src="images/products/products-img-16.jpg" alt="" width="420" height="308" /></a>
                        </div>
                    </article>
                    <div class="thumbnail-mary-description">
                        <h5 class="thumbnail-mary-project"><a href="single-project">Interior Design</a></h5>
                        <span class="thumbnail-mary-decor"></span>
                        <h5 class="thumbnail-mary-time">
                            <time datetime="2015">2020</time>
                        </h5>
                    </div>
                </div>
                <div class="owl-item">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary thumbnail-md">
                        <div class="thumbnail-mary-figure"><img src="images/products/products-img-17.jpg" alt="" width="420" height="308" /> </div>
                        <div class="thumbnail-mary-caption">
                            <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-17.jpg" data-lightgallery="item"><img src="images/products/products-img-17.jpg" alt="" width="420" height="308" /></a>
                        </div>
                    </article>
                    <div class="thumbnail-mary-description">
                        <h5 class="thumbnail-mary-project"><a href="single-project">Interior Design</a></h5>
                        <span class="thumbnail-mary-decor"></span>
                        <h5 class="thumbnail-mary-time">
                            <time datetime="2016">2020</time>
                        </h5>
                    </div>
                </div>
                <div class="owl-item">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary thumbnail-md">
                        <div class="thumbnail-mary-figure"><img src="images/products/products-img-18.jpg" alt="" width="420" height="308" /> </div>
                        <div class="thumbnail-mary-caption">
                            <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-18.jpg" data-lightgallery="item"><img src="images/products/products-img-18.jpg" alt="" width="420" height="308" /></a>
                        </div>
                    </article>
                    <div class="thumbnail-mary-description">
                        <h5 class="thumbnail-mary-project"><a href="single-project">Interior Design</a></h5>
                        <span class="thumbnail-mary-decor"></span>
                        <h5 class="thumbnail-mary-time">
                            <time datetime="2017">2020</time>
                        </h5>
                    </div>
                </div>
                <div class="owl-item">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail thumbnail-mary thumbnail-md">
                        <div class="thumbnail-mary-figure"><img src="images/products/products-img-19.jpg" alt="" width="420" height="308" /> </div>
                        <div class="thumbnail-mary-caption">
                            <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-19.jpg" data-lightgallery="item"><img src="images/products/products-img-19.jpg" alt="" width="420" height="308" /></a>
                        </div>
                    </article>
                    <div class="thumbnail-mary-description">
                        <h5 class="thumbnail-mary-project"><a href="single-project">Interior Design</a></h5>
                        <span class="thumbnail-mary-decor"></span>
                        <h5 class="thumbnail-mary-time">
                            <time datetime="2018">2020</time>
                        </h5>
                    </div>
                </div>
            </div>
        </section>

        <!-- What people Say-->
        <section class="section section-sm bg_second_cl bg-default">
            <div class="container">
                <h3>What people Say</h3>
                <!-- Owl Carousel-->
                <div class="owl-carousel owl-modern" data-items="1" data-stage-padding="15" data-margin="30" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
                    <!-- Quote Lisa-->
                    <article class="quote-lisa">
                        <div class="quote-lisa-body">
                            <a class="quote-lisa-figure" href="#"><img class="img-circles" src="images/resource/1.jpg" alt="" width="100" height="100" /></a>
                            <div class="quote-lisa-text">
                                <p class="q">I just wanted to say thank you and the team very much for the brilliant service around renovating the floors at our house. You were absolutely brilliant and we can see you’ve gone the extra mile matching the floors between
                                    rooms etc. You’ve kept the place really tidy too, cannot ask for more.</p>
                            </div>
                            <h5 class="quote-lisa-cite"><a href="#">Catherine Williams</a></h5>
                            <p class="quote-lisa-status">Client</p>
                        </div>
                    </article>
                    <!-- Quote Lisa-->
                    <article class="quote-lisa">
                        <div class="quote-lisa-body">
                            <a class="quote-lisa-figure" href="#"><img class="img-circles" src="images/resource/2.jpg" alt="" width="100" height="100" /></a>
                            <div class="quote-lisa-text">
                                <p class="q">Fantastic service from start to finish. After our ceiling collapsed we never thought our damaged floor would look so good again. These guys worked in a tight time frame and were very accommodating to the other trades working
                                    in the same area to produce brilliant results and restore our badly damaged floor to look like new!</p>
                            </div>
                            <h5 class="quote-lisa-cite"><a href="#">Rupert Wood</a></h5>
                            <p class="quote-lisa-status">Client</p>
                        </div>
                    </article>
                    <!-- Quote Lisa-->
                    <article class="quote-lisa">
                        <div class="quote-lisa-body">
                            <a class="quote-lisa-figure" href="#"><img class="img-circles" src="images/resource/3.jpg" alt="" width="100" height="100" /></a>
                            <div class="quote-lisa-text">
                                <p class="q">The floor looks magnificent and the parquet in the hall sets it off beautifully. Your men were excellent, you were delightful and nothing was too much trouble for you. You have very tidy workers, covering everything, and
                                    the house was left in a good shape as the condition allowed.</p>
                            </div>
                            <h5 class="quote-lisa-cite"><a href="#">Sam Brown</a></h5>
                            <p class="quote-lisa-status">Client</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <!-- Counter Classic-->
        <section class="section section-sm bg-default">
            <div class="container">
                <div class="row row-50 justify-content-center align-items-center align-items-lg-start text-left">
                    <div class="col-md-6 col-lg-5 col-xl-4 text-center"><a class="text-img" href="about-us"><span class="counter">10</span></a></div>
                    <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
                        <div class="text-width-extra-small offset-top-lg-24">
                            <h3 class="title-decoration-lines-left">Years of experience</h3>
                            <p class="text-gray-500">Ubi est nobilis byssus? Candidatus salvus zelus est. Varius, talis frondators absolute promissio de ferox.</p>
                            <a class="button button-secondary button-pipaluk" href="#">Get in touch</a> </div>
                    </div>
                    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">
                        <div class="row justify-content-center border-2-column offset-top-xl-26">
                            <div class="col-9 col-sm-6">
                                <div class="counter-amy">
                                    <div class="counter-amy-number"><span class="counter">2</span><span class="symbol">k</span> </div>
                                    <h6 class="counter-amy-title">Floors</h6>
                                </div>
                            </div>
                            <div class="col-9 col-sm-6">
                                <div class="counter-amy">
                                    <div class="counter-amy-number"><span class="counter">40</span> </div>
                                    <h6 class="counter-amy-title">Monthly clients</h6>
                                </div>
                            </div>
                            <div class="col-9 col-sm-6">
                                <div class="counter-amy">
                                    <div class="counter-amy-number"><span class="counter">12</span> </div>
                                    <h6 class="counter-amy-title">Awards</h6>
                                </div>
                            </div>
                            <div class="col-9 col-sm-6">
                                <div class="counter-amy">
                                    <div class="counter-amy-number"><span class="counter">26</span> </div>
                                    <h6 class="counter-amy-title">Employees</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {},
                Tawk_LoadStart = new Date();
            (function() {
                var s1 = document.createElement("script"),
                    s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/6127be23d6e7610a49b22a13/1fe1l8kdg';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!--End of Tawk.to Script-->


        <!-- Footer section start -->
        <footer class="section footer-variant-2 footer-modern context-dark">
            <div class="footer-variant-2-content">
                <div class="container">
                    <div class="row row-40 justify-content-between">
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="oh-desktop">
                                <div class="">
                                    <div class="footer-brand">
                                        <a href="index"> <img class="logo-footer" src="images/logos/footer-default.png" alt="Footer Logo" /></a>
                                    </div>
                                    <p>Our goal is always to create designs tailored to our clients unique personal styles and practical needs</p>
                                    <ul class="footer-contacts d-inline-block d-md-block">
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                                                <div class="unit-body"><a class="link-phone" href="tel:#">+91 9987502035</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon fa fa-clock-o"></span></div>
                                                <div class="unit-body">
                                                    <p>Mon-Sat: 07:00AM - 05:00PM</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                                                <div class="unit-body"><a class="link-location" href="#">704, B-Wing, Wadhwa platina, Kolshet Rd, Thane, Maharastra 400607</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xl-4">
                            <div class="oh-desktop">
                                <div class="inset-top-18">
                                    <h5 class="text-spacing-75">Newsletter</h5>
                                    <p>Join our email list for tips and useful information.</p>
                                    <form class="housvibe-form housvibe-mailform" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="#">
                                        <div class="form-wrap">
                                            <input class="form-input" id="subscribe-form-5-email" type="email" name="email" data-constraints="@Email @Required">
                                            <label class="form-label" for="subscribe-form-5-email">Enter Your E-mail</label>
                                        </div>
                                        <button class="button button-block button-primary button-ujarak" type="submit">Subscribe</button>
                                    </form>
                                    <div class="group-lg group-middle">
                                        <p class="footer-social-list-title">Follow Us</p>
                                        <div>
                                            <ul class="list-inline list-inline-xs footer-social-list-2">
                                                <li>
                                                    <a class="icon fa fa-facebook" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="icon fa fa-twitter" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="icon fa fa-google-plus" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="icon fa fa-instagram" href="#"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xl-4">
                            <div class="oh-desktop">
                                <div class="inset-top-18">
                                    <h5 class="text-spacing-75">Gallery</h5>
                                    <div class="row row-10 gutters-10">
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-6.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-6.jpg" data-lightgallery="item"><img src="images/products/products-img-6.jpg" alt="" width="370" height="303"></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-5.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-5.jpg" data-lightgallery="item"><img src="images/products/products-img-5.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-4.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-4.jpg" data-lightgallery="item"><img src="images/products/products-img-4.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-3.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-3.jpg" data-lightgallery="item"><img src="images/products/products-img-3.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-2.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-2.jpg" data-lightgallery="item"><img src="images/products/products-img-2.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-1.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-1.jpg" data-lightgallery="item"><img src="images/products/products-img-1.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-variant-2-bottom-panel">
                <div class="container">
                    <!-- Rights-->
                    <div class="text-center">
                        <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span> <span>Housvibe</span>. All rights reserved. </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer section end -->
    </div>

    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="dist/color-switcher.js"></script>
    <!-- <script src="dist/colorJS.js"></script>  -->
    <script src="js/script.js"></script>
</body>

</html>