<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Housvibe : Contact Us</title>
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="housvibe Interior Design - HTML Template">
    <meta name="keywords" content="housvibe Interior Design, html, template, responsive, corporate, business, Construction">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
    <!-- favicon -->
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css" id="main-styles-link">


</head>

<body>
    <div class="page">
        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="housvibe-navbar-wrap">
                <nav class="housvibe-navbar housvibe-navbar-modern" data-layout="housvibe-navbar-fixed" data-sm-layout="housvibe-navbar-fixed" data-md-layout="housvibe-navbar-fixed" data-md-device-layout="housvibe-navbar-fixed" data-lg-layout="housvibe-navbar-static"
                    data-lg-device-layout="housvibe-navbar-fixed" data-xl-layout="housvibe-navbar-static" data-xl-device-layout="housvibe-navbar-static" data-xxl-layout="housvibe-navbar-static" data-xxl-device-layout="housvibe-navbar-static" data-lg-stick-up-offset="46px"
                    data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="70px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="housvibe-navbar-main-outer">
                        <div class="housvibe-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="housvibe-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="housvibe-navbar-toggle" data-housvibe-navbar-toggle=".housvibe-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="housvibe-navbar-brand">
                                    <a class="brand" href="index"><img src="images/logos/small-logo-default.png" class="logo-sticky" alt="" title=""></a>
                                </div>
                            </div>
                            <div class="housvibe-navbar-main-element">
                                <div class="housvibe-navbar-nav-wrap">

                                    <!-- RD Navbar Nav-->
                                    <ul class="housvibe-navbar-nav">
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="index">Home</a>
                                            <!-- RD Navbar Dropdown-->
                                            <!-- <ul class="housvibe-menu housvibe-navbar-dropdown">
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index">Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-1">Classical Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-2">Video Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-3">Partical Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-4">TypeWriter Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-5">Typer+Partical Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-6">Bubbles Home</a></li>

                                            </ul> -->
                                        </li>
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="about-us">About Us</a> </li>
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="grid-gallery">Portfolio</a>
                                            <!-- RD Navbar Dropdown-->
                                            <ul class="housvibe-menu housvibe-navbar-dropdown">
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="grid-gallery">Grid Gallery</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="full-width-gallery">Full width Gallery</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="masonry-gallery">Masonry Gallery</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="full-width-masonry-gallery">Full Width Masonry Gallery</a></li>

                                            </ul>
                                        </li>
                                        
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="faq">Faq</a>
                                            <!-- RD Navbar Dropdown-->
                                            <!-- <ul class="housvibe-menu housvibe-navbar-dropdown">
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="shop">Shop</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="single-product">Single Product</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="cart-page">Cart Page</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="checkout">Checkout</a></li>
                                            </ul>-->
                                        </li>
                                        <li class="housvibe-nav-item active"><a class="housvibe-nav-link" href="contact-us">Contact Us</a> </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- RD Navbar End -->
        </header>
        <!-- Breadcrumbs -->
        <section class="breadcrumbs-custom-inset">
            <div class="breadcrumbs-custom context-dark">
                <div class="container">
                    <h2 class="breadcrumbs-custom-title">Contact Us</h2>
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="index">Home</a></li>

                        <li class="active">Contact Us</li>
                    </ul>
                </div>
                <div class="box-position" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
            </div>
        </section>

        <!-- Contact information-->
        <section class="section section-sm bg-default bg_second_cl">
            <div class="container">
                <div class="row row-30 justify-content-center">
                    <div class="col-md-4 col-lg-4">
                        <article class="box-contacts bg_first_cl">
                            <div class="box-contacts-body">
                                <div class="box-contacts-icon fl-bigmug-line-cellphone55"></div>
                                <div class="box-contacts-decor"></div>
                                <p class="box-contacts-link"><a href="tel:#">+91 9987502035</a></p>
                                <p class="box-contacts-link"><a href="tel:#">+91 9987502035</a></p>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <article class="box-contacts bg_first_cl">
                            <div class="box-contacts-body">
                                <div class="box-contacts-icon fl-bigmug-line-up104"></div>
                                <div class="box-contacts-decor"></div>
                                <p class="box-contacts-link"><a href="#">704, B-Wing, Wadhwa platina, Kolshet Rd, Thane, Maharastra 400607</a></p>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <article class="box-contacts bg_first_cl">
                            <div class="box-contacts-body">
                                <div class="box-contacts-icon fl-bigmug-line-chat55"></div>
                                <div class="box-contacts-decor"></div>
                                <p class="box-contacts-link"><a href="#"><span class="__cf_email__" data-cfemail="#">hello@example.com</span></a></p>
                                <p class="box-contacts-link"><a href="#"><span class="__cf_email__" data-cfemail="#">hello@example.com</span></a></p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Form and Gmap-->
        <section class="section section-sm bg-default text-md-left">
            <div class="container">
                <div class="row row-50">
                    <div class="col-lg-6 section-map-small">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.1742640156317!2d72.98381741490358!3d19.231235586999045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b924d32125ed%3A0xec37f8fc31878c63!2shousvibe!5e0!3m2!1sen!2sin!4v1634407187052!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="text-spacing-50">Contact Form</h4>
                        <form class="housvibe-form housvibe-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="#">
                            <div class="row row-14 gutters-14">
                                <div class="col-sm-6">
                                    <div class="form-wrap">
                                        <input class="form-input" id="contact-first-name" type="text" name="name" data-constraints="@Required">
                                        <label class="form-label" for="contact-first-name">First Name</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-wrap">
                                        <input class="form-input" id="contact-last-name" type="text" name="name" data-constraints="@Required">
                                        <label class="form-label" for="contact-last-name">Last Name</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-wrap">
                                        <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                                        <label class="form-label" for="contact-email">E-mail</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-wrap">
                                        <label class="form-label" for="contact-message">Message</label>
                                        <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button class="button button-secondary button-pipaluk" type="submit" value="submit">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {},
                Tawk_LoadStart = new Date();
            (function() {
                var s1 = document.createElement("script"),
                    s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/6127be23d6e7610a49b22a13/1fe1l8kdg';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
        <!-- Footer section start -->
        <footer class="section footer-variant-2 footer-modern context-dark">
            <div class="footer-variant-2-content">
                <div class="container">
                    <div class="row row-40 justify-content-between">
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="oh-desktop">
                                <div class="">
                                    <div class="footer-brand">
                                        <a href="index"> <img class="logo-footer" src="images/logos/footer-default.png" alt="Footer Logo" /></a>
                                    </div>
                                    <p>Our goal is always to create designs tailored to our clients unique personal styles and practical needs</p>
                                    <ul class="footer-contacts d-inline-block d-md-block">
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                                                <div class="unit-body"><a class="link-phone" href="tel:#">+91 9987502035</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon fa fa-clock-o"></span></div>
                                                <div class="unit-body">
                                                    <p>Mon-Sat: 07:00AM - 05:00PM</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                                                <div class="unit-body"><a class="link-location" href="#">704, B-Wing, Wadhwa platina, Kolshet Rd, Thane, Maharastra 400607</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xl-4">
                            <div class="oh-desktop">
                                <div class="inset-top-18">
                                    <h5 class="text-spacing-75">Newsletter</h5>
                                    <p>Join our email list for tips and useful information.</p>
                                    <form class="housvibe-form housvibe-mailform" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="#">
                                        <div class="form-wrap">
                                            <input class="form-input" id="subscribe-form-5-email" type="email" name="email" data-constraints="@Email @Required">
                                            <label class="form-label" for="subscribe-form-5-email">Enter Your E-mail</label>
                                        </div>
                                        <button class="button button-block button-primary button-ujarak" type="submit">Subscribe</button>
                                    </form>
                                    <div class="group-lg group-middle">
                                        <p class="footer-social-list-title">Follow Us</p>
                                        <div>
                                            <ul class="list-inline list-inline-xs footer-social-list-2">
                                                <li>
                                                    <a class="icon fa fa-facebook" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="icon fa fa-twitter" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="icon fa fa-google-plus" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="icon fa fa-instagram" href="#"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xl-4">
                            <div class="oh-desktop">
                                <div class="inset-top-18">
                                    <h5 class="text-spacing-75">Gallery</h5>
                                    <div class="row row-10 gutters-10">
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-6.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-6.jpg" data-lightgallery="item"><img src="images/products/products-img-6.jpg" alt="" width="370" height="303"></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-5.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-5.jpg" data-lightgallery="item"><img src="images/products/products-img-5.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-4.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-4.jpg" data-lightgallery="item"><img src="images/products/products-img-4.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-3.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-3.jpg" data-lightgallery="item"><img src="images/products/products-img-3.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-2.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-2.jpg" data-lightgallery="item"><img src="images/products/products-img-2.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-1.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-1.jpg" data-lightgallery="item"><img src="images/products/products-img-1.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Start of Tawk.to Script-->
            <script type="text/javascript">
                var Tawk_API = Tawk_API || {},
                    Tawk_LoadStart = new Date();
                (function() {
                    var s1 = document.createElement("script"),
                        s0 = document.getElementsByTagName("script")[0];
                    s1.async = true;
                    s1.src = 'https://embed.tawk.to/6127be23d6e7610a49b22a13/1fe1jtfb3';
                    s1.charset = 'UTF-8';
                    s1.setAttribute('crossorigin', '*');
                    s0.parentNode.insertBefore(s1, s0);
                })();
            </script>
            <!--End of Tawk.to Script-->
            <div class="footer-variant-2-bottom-panel">
                <div class="container">
                    <!-- Rights-->
                    <div class="text-center">
                        <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span> <span>Housvibe</span>. All rights reserved. </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer section end -->
    </div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>

    <script src="js/script.js"></script>
</body>

</html>