<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Housvibe: FAQs</title>
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="SultanX Construction - One Page Construction HTML Template">
    <meta name="keywords" content="SultanX Construction, html, template, responsive, corporate, business, Construction">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
    <!-- favicon -->
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css" id="main-styles-link">

</head>

<body>
    <div class="page">
        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="housvibe-navbar-wrap">
                <nav class="housvibe-navbar housvibe-navbar-modern" data-layout="housvibe-navbar-fixed" data-sm-layout="housvibe-navbar-fixed" data-md-layout="housvibe-navbar-fixed" data-md-device-layout="housvibe-navbar-fixed" data-lg-layout="housvibe-navbar-static"
                    data-lg-device-layout="housvibe-navbar-fixed" data-xl-layout="housvibe-navbar-static" data-xl-device-layout="housvibe-navbar-static" data-xxl-layout="housvibe-navbar-static" data-xxl-device-layout="housvibe-navbar-static" data-lg-stick-up-offset="46px"
                    data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="70px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="housvibe-navbar-main-outer">
                        <div class="housvibe-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="housvibe-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="housvibe-navbar-toggle" data-housvibe-navbar-toggle=".housvibe-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="housvibe-navbar-brand">
                                    <a class="brand" href="index"><img src="images/logos/small-logo-default.png" class="logo-sticky" alt="" title=""></a>
                                </div>
                            </div>
                            <div class="housvibe-navbar-main-element">
                                <div class="housvibe-navbar-nav-wrap">

                                    <!-- RD Navbar Nav-->
                                    <ul class="housvibe-navbar-nav">
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="index">Home</a>
                                            <!-- RD Navbar Dropdown-->
                                            <!-- <ul class="housvibe-menu housvibe-navbar-dropdown">
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index">Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-1">Classical Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-2">Video Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-3">Partical Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-4">TypeWriter Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-5">Typer+Partical Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-6">Bubbles Home</a></li>

                                            </ul> -->
                                        </li>
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="about-us">About Us</a> </li>
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="grid-gallery">Portfolio</a>
                                            <!-- RD Navbar Dropdown-->
                                            <ul class="housvibe-menu housvibe-navbar-dropdown">
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="grid-gallery">Grid Gallery</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="full-width-gallery">Full width Gallery</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="masonry-gallery">Masonry Gallery</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="full-width-masonry-gallery">Full Width Masonry Gallery</a></li>

                                            </ul>
                                        </li>
                                       
                                        <li class="housvibe-nav-item active"><a class="housvibe-nav-link" href="faq">Faq</a>
                                            <!-- RD Navbar Dropdown-->
                                            <!-- <ul class="housvibe-menu housvibe-navbar-dropdown">
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="shop">Shop</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="single-product">Single Product</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="cart-page">Cart Page</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="checkout">Checkout</a></li>
                                            </ul>-->
                                        </li>
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="contact-us">Contact Us</a> </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Breadcrumbs -->
        <section class="breadcrumbs-custom-inset">
            <div class="breadcrumbs-custom context-dark">
                <div class="container">
                    <h2 class="breadcrumbs-custom-title">FAQ</h2>
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="index">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">FAQ</li>
                    </ul>
                </div>
                <div class="box-position" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
            </div>
        </section>
        <section class="section section-sm bg-default">
            <div class="container">
                <!-- Bootstrap collapse-->
                <div class="row row-15 align-items-start cahousvibe-group-custom cahousvibe-group-corporate" id="accordion2" role="tablist" aria-multiselectable="false">
                    <div class="col-lg-6">
                        <!-- Bootstrap cahousvibe-->
                        <article class="card cahousvibe-custom cahousvibe-corporate">
                            <div class="cahousvibe-header" id="accordion2Heading1" role="tab">
                                <div class="cahousvibe-title"><a role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion2Collapse1" aria-controls="accordion2Collapse1" aria-expanded="true">Why is housvibe the right place for me to work?
                <div class="cahousvibe-arrow"></div>
                </a> </div>
                            </div>
                            <div class="collapse show" id="accordion2Collapse1" role="tabpanel" aria-labelledby="accordion2Heading1">
                                <div class="cahousvibe-body">
                                    <p>We’re glad you asked. Creative freedom and zero micromanagement – this we promise. You will also have multiple training opportunities. You’ll have a stable income. You’ll awaken or groom your inner entrepreneur. And,
                                        you’ll be working on a diverse portfolio, and with the brightest minds, that only India’s largest design platform can offer.</p>
                                </div>
                            </div>
                        </article>
                        <!-- Bootstrap cahousvibe-->
                        <article class="card cahousvibe-custom cahousvibe-corporate">
                            <div class="cahousvibe-header" id="accordion2Heading4" role="tab">
                                <div class="cahousvibe-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion2Collapse4" aria-controls="accordion2Collapse4">How do I buy a modular kitchen?
                <div class="cahousvibe-arrow"></div>
                </a> </div>
                            </div>
                            <div class="collapse" id="accordion2Collapse4" role="tabpanel" aria-labelledby="accordion2Heading4">
                                <div class="cahousvibe-body">
                                    <p><span class="dot"></span> &nbsp; The first step to buying a modular kitchen is to have a complete understanding of the available space.
                                        <br><span class="dot"></span> &nbsp; Remember the kitchen triangle concept to consider movement between the stove, sink and refrigerator for a smooth flow.
                                        <br><span class="dot"></span> &nbsp;It is important to plan your electrical fixtures smartly, depending on the appliances you will need.
                                        <br><span class="dot"></span> &nbsp;Lastly, make the best use of available space with organisers for your household items.</p>
                                </div>
                            </div>
                        </article>
                        <!-- Bootstrap cahousvibe-->
                        <article class="card cahousvibe-custom cahousvibe-corporate">
                            <div class="cahousvibe-header" id="accordion2Heading3" role="tab">
                                <div class="cahousvibe-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion2Collapse3" aria-controls="accordion2Collapse3">What do I receive when I order a template?
                <div class="cahousvibe-arrow"></div>
                </a> </div>
                            </div>
                            <div class="collapse" id="accordion2Collapse3" role="tabpanel" aria-labelledby="accordion2Heading3">
                                <div class="cahousvibe-body">
                                    <p>Ionicis tormentos sunt planetas de dexter burgus. Alter solem etiam experientias boreas est.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-6">
                        <!-- Bootstrap cahousvibe-->
                        <article class="card cahousvibe-custom cahousvibe-corporate">
                            <div class="cahousvibe-header" id="accordion2Heading2" role="tab">
                                <div class="cahousvibe-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion2Collapse2" aria-controls="accordion2Collapse2">In what formats are your templates available?
                <div class="cahousvibe-arrow"></div>
                </a> </div>
                            </div>
                            <div class="collapse" id="accordion2Collapse2" role="tabpanel" aria-labelledby="accordion2Heading2">
                                <div class="cahousvibe-body">
                                    <p>Finiss trabem! Hercle, urbs germanus!, fermium! Devatios mori, tanquam altus amicitia. Vae, zelus! A falsis, victrix primus equiso. Ubi est magnum abnoba? Mons alter clinias est. Est albus vortex, cesaris. Est alter
                                        historia, cesaris.</p>
                                </div>
                            </div>
                        </article>
                        <!-- Bootstrap cahousvibe-->
                        <article class="card cahousvibe-custom cahousvibe-corporate">
                            <div class="cahousvibe-header" id="accordion2Heading5" role="tab">
                                <div class="cahousvibe-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion2Collapse5" aria-controls="accordion2Collapse5">What am I allowed to do with the templates?
                <div class="cahousvibe-arrow"></div>
                </a> </div>
                            </div>
                            <div class="collapse" id="accordion2Collapse5" role="tabpanel" aria-labelledby="accordion2Heading5">
                                <div class="cahousvibe-body">
                                    <p>Cum calcaria resistere, omnes brodiumes imperium fatalis, regius fortises. Est teres solitudo, cesaris. Cur exsul assimilant? Vae, primus silva! Peregrinatione patienter ducunt ad bassus repressor. Eheu, alter competition!</p>
                                </div>
                            </div>
                        </article>
                        <!-- Bootstrap cahousvibe-->
                        <article class="card cahousvibe-custom cahousvibe-corporate">
                            <div class="cahousvibe-header" id="accordion2Heading6" role="tab">
                                <div class="cahousvibe-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#accordion2Collapse6" aria-controls="accordion2Collapse6">What is a unique/non-unique purchase?
                <div class="cahousvibe-arrow"></div>
                </a> </div>
                            </div>
                            <div class="collapse" id="accordion2Collapse6" role="tabpanel" aria-labelledby="accordion2Heading6">
                                <div class="cahousvibe-body">
                                    <p>Alter itineris tramitem virtualiter talems historia est. Zirbuss credere, tanquam fatalis exemplar. Cum abactor experimentum, omnes cursuses imperium talis, dexter omniaes.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {},
                Tawk_LoadStart = new Date();
            (function() {
                var s1 = document.createElement("script"),
                    s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/6127be23d6e7610a49b22a13/1fe1l8kdg';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
        <!-- Footer section start -->
        <footer class="section footer-variant-2 footer-modern context-dark">
            <div class="footer-variant-2-content">
                <div class="container">
                    <div class="row row-40 justify-content-between">
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="oh-desktop">
                                <div class="">
                                    <div class="footer-brand">
                                        <a href="index"> <img class="logo-footer" src="images/logos/footer-default.png" alt="Footer Logo" /></a>
                                    </div>
                                    <p> Our goal is always to create designs tailored to our clients unique personal styles and practical needs</p>
                                    <ul class="footer-contacts d-inline-block d-md-block">
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                                                <div class="unit-body"><a class="link-phone" href="tel:#">+91 9987502035</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon fa fa-clock-o"></span></div>
                                                <div class="unit-body">
                                                    <p>Mon-Sat: 07:00AM - 05:00PM</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                                                <div class="unit-body"><a class="link-location" href="#">704, B-Wing, Wadhwa platina, Kolshet Rd, Thane, Maharastra 400607</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xl-4">
                            <div class="oh-desktop">
                                <div class="inset-top-18">
                                    <h5 class="text-spacing-75">Newsletter</h5>
                                    <p>Join our email list for tips and useful information.</p>
                                    <form class="housvibe-form housvibe-mailform" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="#">
                                        <div class="form-wrap">
                                            <input class="form-input" id="subscribe-form-5-email" type="email" name="email" data-constraints="@Email @Required">
                                            <label class="form-label" for="subscribe-form-5-email">Enter Your E-mail</label>
                                        </div>
                                        <button class="button button-block button-primary button-ujarak" type="submit">Subscribe</button>
                                    </form>
                                    <div class="group-lg group-middle">
                                        <p class="footer-social-list-title">Follow Us</p>
                                        <div>
                                            <ul class="list-inline list-inline-xs footer-social-list-2">
                                                <li>
                                                    <a class="icon fa fa-facebook" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="icon fa fa-twitter" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="icon fa fa-google-plus" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="icon fa fa-instagram" href="#"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xl-4">
                            <div class="oh-desktop">
                                <div class="inset-top-18">
                                    <h5 class="text-spacing-75">Gallery</h5>
                                    <div class="row row-10 gutters-10">
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-6.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-6.jpg" data-lightgallery="item"><img src="images/products/products-img-6.jpg" alt="" width="370" height="303"></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-5.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-5.jpg" data-lightgallery="item"><img src="images/products/products-img-5.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-4.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-4.jpg" data-lightgallery="item"><img src="images/products/products-img-4.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-3.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-3.jpg" data-lightgallery="item"><img src="images/products/products-img-3.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-2.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-2.jpg" data-lightgallery="item"><img src="images/products/products-img-2.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-1.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-1.jpg" data-lightgallery="item"><img src="images/products/products-img-1.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-variant-2-bottom-panel">
                <div class="container">
                    <!-- Rights-->
                    <div class="text-center">
                        <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span> <span>Housvibe</span>. All rights reserved. </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer section end -->
    </div>

    <!-- Javascript-->
    <script src="js/core.min.js"></script>

    <script src="js/script.js"></script>
</body>
</html