<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Housvibe : Home</title>
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="housvibe Interior Design - HTML Template">
    <meta name="keywords" content="housvibe Interior Design, html, template, responsive, corporate, business, Construction">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
    <!-- favicon -->
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css" id="main-styles-link">
    <!--Color Switcher Mockup-->
    <link rel="stylesheet" href="dist/color-default.css">
    <link rel="stylesheet" href="dist/color-switcher.css">
</head>

<body>
    <div class="page">
        <!-- Page Header Start -->
        <header class="section page-header">
            <!-- RD Navbar Start -->
            <div class="housvibe-navbar-wrap housvibe-navbar-modern-wrap">
                <nav class="housvibe-navbar housvibe-navbar-modern" data-layout="housvibe-navbar-fixed" data-sm-layout="housvibe-navbar-fixed" data-md-layout="housvibe-navbar-fixed" data-md-device-layout="housvibe-navbar-fixed" data-lg-layout="housvibe-navbar-static"
                    data-lg-device-layout="housvibe-navbar-fixed" data-xl-layout="housvibe-navbar-static" data-xl-device-layout="housvibe-navbar-static" data-xxl-layout="housvibe-navbar-static" data-xxl-device-layout="housvibe-navbar-static" data-lg-stick-up-offset="46px"
                    data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="70px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="housvibe-navbar-main-outer">
                        <div class="housvibe-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="housvibe-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="housvibe-navbar-toggle" data-housvibe-navbar-toggle=".housvibe-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="housvibe-navbar-brand">
                                    <a class="brand" href="index"><img src="images/logos/small-logo-default.png" class="logo-sticky" alt="" title=""></a>
                                </div>
                            </div>
                            <div class="housvibe-navbar-main-element">
                                <div class="housvibe-navbar-nav-wrap">


                                    <!-- RD Navbar Nav-->
                                    <ul class="housvibe-navbar-nav">


                                        <li class="housvibe-nav-item active"><a class="housvibe-nav-link" href="index">Home</a>
                                            <!-- RD Navbar Dropdown-->
                                            <!-- <ul class="housvibe-menu housvibe-navbar-dropdown">
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index">Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-1">Classical Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-2">Video Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-3">Partical Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-4">TypeWriter Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-5">Typer+Partical Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-6">Bubbles Home</a></li>

                                            </ul> -->
                                        </li>




                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="about-us">About Us</a> </li>
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="grid-gallery">Portfolio</a>
                                            <!-- RD Navbar Dropdown-->
                                            <ul class="housvibe-menu housvibe-navbar-dropdown">
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="grid-gallery">Grid Gallery</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="full-width-gallery">Full width Gallery</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="masonry-gallery">Masonry Gallery</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="full-width-masonry-gallery">Full Width Masonry Gallery</a></li>

                                            </ul>
                                        </li>
                                        
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="faq">Faq</a>
                                            <!-- RD Navbar Dropdown-->
                                            <!-- <ul class="housvibe-menu housvibe-navbar-dropdown">
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="contact-us">shop</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="single-product">Single Product</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="cart-page">Cart Page</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="checkout">Checkout</a></li>
                                            </ul>
                                        </li>-->
                                            <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="contact-us">Contact Us</a> </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- RD Navbar End -->
        </header>
        <!-- Page Header End -->
        <!-- slider section start -->
        <section class="section swiper-container swiper-slider swiper-slider-modern" data-loop="true" data-autoplay="5000" data-simulate-touch="true" data-nav="true" data-slide-effect="fade">
            <div class="swiper-wrapper text-left">
                <!-- slide 1 start -->
                <div class="swiper-slide" data-slide-bg="images/banner/banner-1.jpg">
                    <div class="swiper-slide-caption">
                        <div class="container">
                            <div class="row">
                                <div class="col-11 col-sm-9 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
                                    <div class="slider-modern-box">
                                        <h2 class="oh slider-modern-title"><span data-caption-animate="slideInDown" data-caption-delay="0">Interior</span><span data-caption-animate="slideInUp" data-caption-delay="0">Architecture</span></h2>
                                        <p data-caption-animate="fadeInRight" data-caption-delay="400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus porttitor bibendum. Aliquam ut mi augue.</p>
                                        <div class="oh button-wrap"><a class="button button-secondary button-ujarak" href="contact-us" data-caption-animate="slideInLeft" data-caption-delay="400">Get Yours Now!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slide 2 start -->
                <div class="swiper-slide" data-slide-bg="images/banner/banner-2.jpg">
                    <div class="swiper-slide-caption">
                        <div class="container">
                            <div class="row">
                                <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5 col-xxl-4">
                                    <div class="slider-modern-box">
                                        <h2 class="oh slider-modern-title"><span data-caption-animate="slideInLeft" data-caption-delay="0">Professionals</span><span data-caption-animate="slideInUp" data-caption-delay="0">Architecture</span></h2>
                                        <p data-caption-animate="fadeInRight" data-caption-delay="400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus porttitor bibendum. Aliquam ut mi augue.</p>
                                        <div class="oh button-wrap"><a class="button button-secondary button-ujarak" href="contact-us" data-caption-animate="slideInLeft" data-caption-delay="400">Get Yours Now!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slide 3 start -->
                <div class="swiper-slide" data-slide-bg="images/banner/banner-3.jpg">
                    <div class="swiper-slide-caption">
                        <div class="container">
                            <div class="row">
                                <div class="col-11 col-sm-8 col-md-7 col-lg-5 col-xxl-4">
                                    <div class="slider-modern-box">
                                        <h2 class="oh slider-modern-title"><span data-caption-animate="slideInDown" data-caption-delay="0">Unique & Clean</span><span data-caption-animate="slideInLeft" data-caption-delay="0">Architecture</span></h2>
                                        <p data-caption-animate="fadeInRight" data-caption-delay="400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus porttitor bibendum. Aliquam ut mi augue.</p>
                                        <div class="oh button-wrap"><a class="button button-secondary button-ujarak" href="contact-us" data-caption-animate="slideInUp" data-caption-delay="400">Get Yours Now!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Swiper Navigation-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- Swiper Pagination-->
            <div class="swiper-pagination swiper-pagination-style-2"></div>
        </section>
        <!-- slider section end -->
        <!-- Offer section start -->
        <section class="section section-sm bg-default bg_second_cl">
            <div class="container">
                <div class="headingTitle">
                    <h1>What We <span>Offer</span></h1>
                    <p>We specialize in <em>full-service interior design</em> , <em>including custom furniture, electrical work</em>, <em>false-ceiling</em>, <em>painting and all kind of civil work.</em></p>
                </div>
                <div class="row row-30 justify-content-center">
                    <div class="col-md-12 col-lg-8">
                        <div class="oh">
                            <article class="box-sportlight">
                                <a class="box-sportlight-figure" href="#"><img src="images/offer/offer-imag-1.jpg" alt="" width="770" height="332" /></a>
                                <div class="box-sportlight-caption">
                                    <h5 class="box-sportlight-title"><a href="#">Office Room</a></h5>

                                </div>
                                <div class="box-sportlight-badge box-sportlight-new">New</div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="oh-desktop">
                            <article class="box-sportlight box-sportlight-sm">
                                <a class="box-sportlight-figure" href="#"><img src="images/offer/offer-imag-2.jpg" alt="" width="370" height="339" /></a>
                                <div class="box-sportlight-caption">
                                    <h5 class="box-sportlight-title"><a href="#">Drawing Room</a></h5>

                                </div>
                                <div class="box-sportlight-badge box-sportlight-sale">-30%</div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="oh-desktop">
                            <article class="box-sportlight box-sportlight-sm">
                                <a class="box-sportlight-figure" href="#"><img src="images/offer/offer-imag-3.jpg" alt="" width="370" height="332" /></a>
                                <div class="box-sportlight-caption">
                                    <h5 class="box-sportlight-title"><a href="#">Get New & Amazing Dsign</a></h5>

                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="oh">
                            <article class="box-sportlight">
                                <a class="box-sportlight-figure" href="#"><img src="images/offer/offer-imag-4.jpg" alt="" width="370" height="332" /></a>
                                <div class="box-sportlight-caption">
                                    <h5 class="box-sportlight-title"><a href="#">Kichen</a></h5>

                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="oh-desktop">
                            <article class="box-sportlight box-sportlight-sm">
                                <a class="box-sportlight-figure" href="#"><img src="images/offer/offer-imag-5.jpg" alt="" width="370" height="332" /></a>
                                <div class="box-sportlight-caption">
                                    <h5 class="box-sportlight-title"><a href="#">Sleeping Room</a></h5>

                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Offer section end -->
        <!-- Projects section start -->
        <section class="section section-sm bg-default">
            <div class="container">
                <div class="headingTitle">
                    <h1>Best Interior <span>Projects</span></h1>
                    <p>Duis ornare diam purus, ac malesuada ante congue in. Cras gravida ex elit, vel bibendum mauris efficitur non. Sed ut massa a dui iaculis pretium eu a nunc.</p>
                </div>
                <div class="row row-30" data-lightgallery="group">
                    <div class="col-sm-6 col-lg-4">
                        <div class="oh-desktop">
                            <article class="thumbnail thumbnail-mary thumbnail-sm">
                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-7.jpg" alt="" width="370" height="303" /> </div>
                                <div class="thumbnail-mary-caption">
                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-7.jpg" data-lightgallery="item"><img src="images/products/products-img-7.jpg" alt="" width="370" height="303" /></a>
                                    <h5 class="thumbnail-mary-title"><a href="single-project">Vimeo video <span>Brand & Design</span></a></h5>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="oh-desktop">
                            <article class="thumbnail thumbnail-mary thumbnail-sm">
                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-8.jpg" alt="" width="370" height="303" /> </div>
                                <div class="thumbnail-mary-caption">
                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-8.jpg" data-lightgallery="item"><img src="images/products/products-img-8.jpg" alt="" width="370" height="303" /></a>
                                    <h5 class="thumbnail-mary-title"><a href="single-project">Vimeo video <span>Brand & Design</span></a></h5>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="oh-desktop">
                            <article class="thumbnail thumbnail-mary thumbnail-sm">
                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-9.jpg" alt="" width="370" height="303" /> </div>
                                <div class="thumbnail-mary-caption">
                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-9.jpg" data-lightgallery="item"><img src="images/products/products-img-9.jpg" alt="" width="370" height="303" /></a>
                                    <h5 class="thumbnail-mary-title"><a href="single-project">Vimeo video <span>Brand & Design</span></a></h5>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="oh-desktop">
                            <article class="thumbnail thumbnail-mary thumbnail-sm">
                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-10.jpg" alt="" width="370" height="303" /> </div>
                                <div class="thumbnail-mary-caption">
                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-10.jpg" data-lightgallery="item"><img src="images/products/products-img-10.jpg" alt="" width="370" height="303" /></a>
                                    <h5 class="thumbnail-mary-title"><a href="single-project">Vimeo video <span>Brand & Design</span></a></h5>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="oh-desktop">
                            <article class="thumbnail thumbnail-mary thumbnail-sm">
                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-11.jpg" alt="" width="370" height="303" /> </div>
                                <div class="thumbnail-mary-caption">
                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-11.jpg" data-lightgallery="item"><img src="images/products/products-img-11.jpg" alt="" width="370" height="303" /></a>
                                    <h5 class="thumbnail-mary-title"><a href="single-project">Vimeo video <span>Brand & Design</span></a></h5>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="oh-desktop">
                            <article class="thumbnail thumbnail-mary thumbnail-sm">
                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-12.jpg" alt="" width="370" height="303" /> </div>
                                <div class="thumbnail-mary-caption">
                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-12.jpg" data-lightgallery="item"><img src="images/products/products-img-12.jpg" alt="" width="370" height="303" /></a>
                                    <h5 class="thumbnail-mary-title"><a href="single-project">Vimeo video <span>Brand & Design</span></a></h5>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Projects section end -->
        <!-- call section start -->
        <section class="section bg-default text-md-center">
            <div class="parallax-container" data-parallax-img="images/bg-cta-2.jpg">
                <div class="parallax-content section-sm context-dark">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-12 col-lg-7">
                                <a class="button button-secondary button-ujarak" href="contact-us">Get Yours Now!</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- call section end -->
        <!-- About us section start -->
        <section class="section section-sm bg-default">
            <div class="container">
                <div class="row row-50 justify-content-center align-items-center align-items-lg-start text-left">
                    <div class="col-md-6 col-lg-5 col-xl-4 text-center"><a class="text-img" href="about-us"><span class="counter">10</span></a></div>
                    <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
                        <div class="text-width-extra-small offset-top-lg-24">
                            <h3 class="title-decoration-lines-left">Years of experience</h3>
                            <p class="text-gray-500">Ubi est nobilis byssus? Candidatus salvus zelus est. Varius, talis frondators absolute promissio de ferox.</p>
                            <a class="button button-secondary button-pipaluk" href="#">Get in touch</a> </div>
                    </div>
                    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">
                        <div class="row justify-content-center border-2-column offset-top-xl-26">
                            <div class="col-9 col-sm-6">
                                <div class="counter-amy">
                                    <div class="counter-amy-number"><span class="counter">2</span><span class="symbol">k</span> </div>
                                    <h6 class="counter-amy-title">Floors</h6>
                                </div>
                            </div>
                            <div class="col-9 col-sm-6">
                                <div class="counter-amy">
                                    <div class="counter-amy-number"><span class="counter">40</span> </div>
                                    <h6 class="counter-amy-title">Monthly clients</h6>
                                </div>
                            </div>
                            <div class="col-9 col-sm-6">
                                <div class="counter-amy">
                                    <div class="counter-amy-number"><span class="counter">12</span> </div>
                                    <h6 class="counter-amy-title">Awards</h6>
                                </div>
                            </div>
                            <div class="col-9 col-sm-6">
                                <div class="counter-amy">
                                    <div class="counter-amy-number"><span class="counter">26</span> </div>
                                    <h6 class="counter-amy-title">Employees</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About us section end -->
        <!-- What people say start -->
        <section class="section section-sm bg-default bg_second_cl">
            <div class="container">
                <div class="headingTitle">
                    <h1>What <span>people</span> say</h1>
                    <p>Duis ornare diam purus, ac malesuada ante congue in. Cras gravida ex elit, vel bibendum mauris efficitur non. Sed ut massa a dui iaculis pretium eu a nunc.</p>
                </div>
                <div class="owl-carousel owl-modern" data-items="1" data-stage-padding="15" data-margin="30" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
                    <article class="quote-lisa">
                        <div class="quote-lisa-body">
                            <a class="quote-lisa-figure" href="#"><img class="img-circles" src="images/resource/1.jpg" alt="" width="100" height="100" /></a>
                            <div class="quote-lisa-text">
                                <p class="q">I just wanted to say thank you and the team very much for the brilliant service around renovating the floors at our house. You were absolutely brilliant and we can see you’ve gone the extra mile matching the floors between
                                    rooms etc. You’ve kept the place really tidy too, cannot ask for more.</p>
                            </div>
                            <h5 class="quote-lisa-cite"><a href="#">Catherine Williams</a></h5>
                            <p class="quote-lisa-status">Client</p>
                        </div>
                    </article>
                    <!-- Quote Lisa-->
                    <article class="quote-lisa">
                        <div class="quote-lisa-body">
                            <a class="quote-lisa-figure" href="#"><img class="img-circles" src="images/resource/2.jpg" alt="" width="100" height="100" /></a>
                            <div class="quote-lisa-text">
                                <p class="q">Fantastic service from start to finish. After our ceiling collapsed we never thought our damaged floor would look so good again. These guys worked in a tight time frame and were very accommodating to the other trades working
                                    in the same area to produce brilliant results and restore our badly damaged floor to look like new!</p>
                            </div>
                            <h5 class="quote-lisa-cite"><a href="#">Rupert Wood</a></h5>
                            <p class="quote-lisa-status">Client</p>
                        </div>
                    </article>
                    <!-- Quote Lisa-->
                    <article class="quote-lisa">
                        <div class="quote-lisa-body">
                            <a class="quote-lisa-figure" href="#"><img class="img-circles" src="images/resource/3.jpg" alt="" width="100" height="100" /></a>
                            <div class="quote-lisa-text">
                                <p class="q">The floor looks magnificent and the parquet in the hall sets it off beautifully. Your men were excellent, you were delightful and nothing was too much trouble for you. You have very tidy workers, covering everything, and
                                    the house was left in a good shape as the condition allowed.</p>
                            </div>
                            <h5 class="quote-lisa-cite"><a href="#">Sam Brown</a></h5>
                            <p class="quote-lisa-status">Client</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <!-- What people say end -->
        <!-- Team section start -->
        <!-- <section class="section section-sm bg-default">
    <div class="container">
      <div class="headingTitle">
        <h1>Team of <span>professionals</span></h1>
        <p>Duis ornare diam purus, ac malesuada ante congue in. Cras gravida ex elit, vel bibendum mauris efficitur non. Sed ut massa a dui iaculis pretium eu a nunc.</p>
      </div>
      <div class="row row-30">
        <div class="col-md-4 col-lg-4">  -->
        <!-- Team Classic-->
        <!-- <article class="team-classic"><a class="team-classic-figure" href="#"><img src="images/resource/team-1.jpg" alt="" width="370" height="406"/></a>
            <div class="team-classic-caption">
              <h5 class="team-classic-name"><a href="#">Ryan Wilson</a></h5>
              <p class="team-classic-status">Founder, Owner</p>
            </div>
          </article>
        </div>
        <div class="col-md-4 col-lg-4">  -->
        <!-- Team Classic-->
        <!-- <article class="team-classic"><a class="team-classic-figure" href="#"><img src="images/resource/team-2.jpg" alt="" width="370" height="406"/></a>
            <div class="team-classic-caption">
              <h5 class="team-classic-name"><a href="#">Amanda Clark</a></h5>
              <p class="team-classic-status">Measure Technician</p>
            </div>
          </article>
        </div>
        <div class="col-md-4 col-lg-4">  -->
        <!-- Team Classic-->
        <!-- <article class="team-classic"><a class="team-classic-figure" href="#"><img src="images/resource/team-3.jpg" alt="" width="370" height="406"/></a>
            <div class="team-classic-caption">
              <h5 class="team-classic-name"><a href="#">Sam Robinson</a></h5>
              <p class="team-classic-status">Installer</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section> -->
        <!-- Team section end -->
        <!-- Delivery section start -->
        <!-- <section class="section section-sm bg-default bg_second_cl">
    <div class="container">
      <div class="row row-30 justify-content-center">
        <div class="col-md-4 col-lg-4">
          <article class="box-icon-ruby">
            <div class="unit box-icon-ruby-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
              <div class="unit-left">
                <div class="box-icon-ruby-icon fl-bigmug-line-airplane86"></div>
              </div>
              <div class="unit-body">
                <h5 class="box-icon-ruby-title"><a href="single-service">Free worldwide Delivery</a></h5>
                <p class="box-icon-ruby-text">When ordering from $300</p>
              </div>
            </div>
          </article>
        </div>
        <div class="col-md-4 col-lg-4">
          <article class="box-icon-ruby">
            <div class="unit box-icon-ruby-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
              <div class="unit-left">
                <div class="box-icon-ruby-icon fl-bigmug-line-circular220"></div>
              </div>
              <div class="unit-body">
                <h5 class="box-icon-ruby-title"><a href="single-service">High-Quality products</a></h5>
                <p class="box-icon-ruby-text">Awahousvibe-winning flooring</p>
              </div>
            </div>
          </article>
        </div>
        <div class="col-md-4 col-lg-4">
          <article class="box-icon-ruby">
            <div class="unit box-icon-ruby-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
              <div class="unit-left">
                <div class="box-icon-ruby-icon fl-bigmug-line-hot67"></div>
              </div>
              <div class="unit-body">
                <h5 class="box-icon-ruby-title"><a href="single-service">-20% on new collections</a></h5>
                <p class="box-icon-ruby-text">Get your discount today!</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section> -->
        <!-- Delivery section end -->
        <!-- blog section start -->
        <section class="section section-sm bg-default">
            <div class="container">
                <div class="headingTitle">
                    <h1>Latest <span>posts</span></h1>
                    <p>Duis ornare diam purus, ac malesuada ante congue in. Cras gravida ex elit, vel bibendum mauris efficitur non. Sed ut massa a dui iaculis pretium eu a nunc.</p>
                </div>
                <div class="row row-50 justify-content-center">
                    <div class="col-sm-9 col-md-6 col-lg-5 col-xl-4">
                        <!-- Post Creative-->
                        <article class="post post-creative">
                            <div class="post-creative-header">
                                <div class="group-md">
                                    <div>
                                        <div class="unit flex-column flex-sm-row unit-spacing-sm align-items-center">
                                            <div class="unit-left"><iframe width="560" height="315" style="max-width:100%;" src="https://www.youtube.com/embed/knm37hO64OE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                                            
                                        </div>
                                    </div>
                                    <div class="post-creative-time">
                                        <time datetime="2020-05-17">May 17, 2020</time>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </article>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- How we work-->
        <section class="section section-sm bg-default">
            <div class="container">
                <h3>How we work</h3>
                <div class="row row-30 row-sm justify-content-center box-ordered">
                    <div class="col-sm-6 col-md-5 col-lg-3">
                        <article class="box-icon-leah">
                            <div class="box-icon-leah-icon fl-bigmug-line-chat51"></div>
                            <h5 class="box-icon-leah-title"><a href="#">Free consultation</a></h5>
                            <p class="box-icon-leah-text">Regius, raptus demolitiones mechanice vitare de salvus, gratis.</p>
                            <div class="box-icon-leah-count box-ordered-item"></div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-3">
                        <article class="box-icon-leah">
                            <div class="box-icon-leah-icon fl-bigmug-line-chat55"></div>
                            <h5 class="box-icon-leah-title"><a href="#">Concept creation</a></h5>
                            <p class="box-icon-leah-text">Fidelis, primus magisters virtualiter perdere de lotus, talis frondator.</p>
                            <div class="box-icon-leah-count box-ordered-item"></div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-3">
                        <article class="box-icon-leah">
                            <div class="box-icon-leah-icon fl-bigmug-line-circular224"></div>
                            <h5 class="box-icon-leah-title"><a href="#">Selection of materials</a></h5>
                            <p class="box-icon-leah-text">Eheu, adiurator! Raptus, salvus hilotaes sed mire dignus de audax.</p>
                            <div class="box-icon-leah-count box-ordered-item"></div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-3">
                        <article class="box-icon-leah">
                            <div class="box-icon-leah-icon fl-bigmug-line-wrench66"></div>
                            <h5 class="box-icon-leah-title"><a href="#">Installation</a></h5>
                            <p class="box-icon-leah-text">Ecce, rumor! Cum pulchritudine accelerare, omnes elogiumes.</p>
                            <div class="box-icon-leah-count box-ordered-item"></div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <!-- Latest Projects-->
        <section class="section section-sm section-fluid bg-default bg_second_cl">
            <div class="container">
                <h3>Latest Projects</h3>
            </div>
            <!-- Owl Carousel-->
            <div class="owl-carousel owl-classic" data-items="1" data-md-items="2" data-lg-items="3" data-xl-items="4" data-margin="30" data-autoplay="true" data-nav="true" data-dots="true">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                    <div class="thumbnail-mary-figure"><img src="images/products/products-img-1.jpg" alt="" width="420" height="308" /> </div>
                    <div class="thumbnail-mary-caption">
                        <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-1.jpg" data-lightgallery="item"><img src="images/products/products-img-1.jpg" alt="" width="420" height="308" /></a>
                        <h5 class="thumbnail-mary-title"><a href="single-project">Project #1</a></h5>
                    </div>
                </article>
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                    <div class="thumbnail-mary-figure"><img src="images/products/products-img-2.jpg" alt="" width="420" height="308" /> </div>
                    <div class="thumbnail-mary-caption">
                        <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-2.jpg" data-lightgallery="item"><img src="images/products/products-img-2.jpgimages/products/products-img-3.jpg" alt="" width="420" height="308" /></a>
                        <h5 class="thumbnail-mary-title"><a href="single-project">Project #2</a></h5>
                    </div>
                </article>
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                    <div class="thumbnail-mary-figure"><img src="images/products/products-img-3.jpg" alt="" width="420" height="308" /> </div>
                    <div class="thumbnail-mary-caption">
                        <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-3.jpg" data-lightgallery="item"><img src="images/products/products-img-3.jpg" alt="" width="420" height="308" /></a>
                        <h5 class="thumbnail-mary-title"><a href="single-project">Project #3</a></h5>
                    </div>
                </article>
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                    <div class="thumbnail-mary-figure"><img src="images/products/products-img-4.jpg" alt="" width="420" height="308" /> </div>
                    <div class="thumbnail-mary-caption">
                        <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-4.jpg" data-lightgallery="item"><img src="images/products/products-img-4.jpg" alt="" width="420" height="308" /></a>
                        <h5 class="thumbnail-mary-title"><a href="single-project">Project #4</a></h5>
                    </div>
                </article>
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                    <div class="thumbnail-mary-figure"><img src="images/products/products-img-5.jpg" alt="" width="420" height="308" /> </div>
                    <div class="thumbnail-mary-caption">
                        <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-5.jpg" data-lightgallery="item"><img src="images/products/products-img-5.jpg" alt="" width="420" height="308" /></a>
                        <h5 class="thumbnail-mary-title"><a href="single-project">Project #5</a></h5>
                    </div>
                </article>
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                    <div class="thumbnail-mary-figure"><img src="images/products/products-img-6.jpg" alt="" width="420" height="308" /> </div>
                    <div class="thumbnail-mary-caption">
                        <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-6.jpg" data-lightgallery="item"><img src="images/products/products-img-6.jpg" alt="" width="420" height="308" /></a>
                        <h5 class="thumbnail-mary-title"><a href="single-project">Project #6</a></h5>
                    </div>
                </article>
            </div>
        </section>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {},
                Tawk_LoadStart = new Date();
            (function() {
                var s1 = document.createElement("script"),
                    s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/6127be23d6e7610a49b22a13/1fe1l8kdg';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
        <!-- Footer section start -->
        <footer class="section footer-variant-2 footer-modern context-dark">
            <div class="footer-variant-2-content">
                <div class="container">
                    <div class="row row-40 justify-content-between">
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="oh-desktop">
                                <div class="">
                                    <div class="footer-brand">
                                        <a href="index"> <img class="logo-footer" src="images/logos/footer-default.png" alt="Footer Logo" /></a>
                                    </div>
                                    <p>Our goal is always to create designs tailored to our clients unique personal styles and practical needs</p>
                                    <ul class="footer-contacts d-inline-block d-md-block">
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                                                <div class="unit-body"><a class="link-phone" href="tel:#">+91 9987502035</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon fa fa-clock-o"></span></div>
                                                <div class="unit-body">
                                                    <p>Mon-Sat: 07:00AM - 05:00PM</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                                                <div class="unit-body"><a class="link-location" href="#">704, B-Wing, Wadhwa platina, Kolshet Rd, Thane, Maharastra 400607</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xl-4">
                            <div class="oh-desktop">
                                <div class="inset-top-18">
                                    <h5 class="text-spacing-75">Newsletter</h5>
                                    <p>Join our email list for tips and useful information.</p>
                                    <form class="housvibe-form housvibe-mailform" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="#">
                                        <div class="form-wrap">
                                            <input class="form-input" id="subscribe-form-5-email" type="email" name="email" data-constraints="@Email @Required">
                                            <label class="form-label" for="subscribe-form-5-email">Enter Your E-mail</label>
                                        </div>
                                        <button class="button button-block button-primary button-ujarak" type="submit">Subscribe</button>
                                    </form>
                                    <div class="group-lg group-middle">
                                        <p class="footer-social-list-title">Follow Us</p>
                                        <div>
                                            <ul class="list-inline list-inline-xs footer-social-list-2">
                                                <li>
                                                    <a class="icon fa fa-facebook" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="icon fa fa-twitter" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="icon fa fa-google-plus" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="icon fa fa-instagram" href="#"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xl-4">
                            <div class="oh-desktop">
                                <div class="inset-top-18">
                                    <h5 class="text-spacing-75">Gallery</h5>
                                    <div class="row row-10 gutters-10">
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-6.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-6.jpg" data-lightgallery="item"><img src="images/products/products-img-6.jpg" alt="" width="370" height="303"></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-5.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-5.jpg" data-lightgallery="item"><img src="images/products/products-img-5.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-4.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-4.jpg" data-lightgallery="item"><img src="images/products/products-img-4.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-3.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-3.jpg" data-lightgallery="item"><img src="images/products/products-img-3.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-2.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-2.jpg" data-lightgallery="item"><img src="images/products/products-img-2.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-1.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-1.jpg" data-lightgallery="item"><img src="images/products/products-img-1.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-variant-2-bottom-panel">
                <div class="container">
                    <!-- Rights-->
                    <div class="text-center">
                        <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span> <span>Housvibe</span>. All rights reserved. </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer section end -->
    </div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <!-- <script src="dist/color-switcher.js"></script>  -->
    <script src="dist/colorJS.js"></script>
    <script src="js/script.js"></script>
</body>

</html>