<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>housvibe Interior Design : Masonry gallery</title>
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="housvibe Interior Design - HTML Template">
    <meta name="keywords" content="housvibe Interior Design, html, template, responsive, corporate, business, Construction">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
    <!-- favicon -->
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css" id="main-styles-link">
    <!--Color Switcher Mockup-->
    <link rel="stylesheet" href="dist/color-default.css">
    <link rel="stylesheet" href="dist/color-switcher.css">
</head>

<body>
    <div class="page">
        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="housvibe-navbar-wrap">
                <nav class="housvibe-navbar housvibe-navbar-modern" data-layout="housvibe-navbar-fixed" data-sm-layout="housvibe-navbar-fixed" data-md-layout="housvibe-navbar-fixed" data-md-device-layout="housvibe-navbar-fixed" data-lg-layout="housvibe-navbar-static"
                    data-lg-device-layout="housvibe-navbar-fixed" data-xl-layout="housvibe-navbar-static" data-xl-device-layout="housvibe-navbar-static" data-xxl-layout="housvibe-navbar-static" data-xxl-device-layout="housvibe-navbar-static" data-lg-stick-up-offset="46px"
                    data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="70px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="housvibe-navbar-main-outer">
                        <div class="housvibe-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="housvibe-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="housvibe-navbar-toggle" data-housvibe-navbar-toggle=".housvibe-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="housvibe-navbar-brand">
                                    <a class="brand" href="index"><img src="images/logos/small-logo-default.png" class="logo-sticky" alt="" title=""></a>
                                </div>
                            </div>
                            <div class="housvibe-navbar-main-element">
                                <div class="housvibe-navbar-nav-wrap">

                                    <!-- RD Navbar Nav-->
                                    <ul class="housvibe-navbar-nav">
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="index">Home</a>
                                            <!-- RD Navbar Dropdown-->
                                            <!-- <ul class="housvibe-menu housvibe-navbar-dropdown">
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index">Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-1">Classical Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-2">Video Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-3">Partical Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-4">TypeWriter Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-5">Typer+Partical Home</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="index-6">Bubbles Home</a></li>

                                            </ul> -->
                                        </li>
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="about-us">About Us</a> </li>
                                        <li class="housvibe-nav-item active"><a class="housvibe-nav-link" href="grid-gallery">Portfolio</a>
                                            <!-- RD Navbar Dropdown-->
                                            <ul class="housvibe-menu housvibe-navbar-dropdown">
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="grid-gallery">Grid Gallery</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="full-width-gallery">Full width Gallery</a></li>
                                                <li class="housvibe-dropdown-item active"><a class="housvibe-dropdown-link" href="masonry-gallery">Masonry Gallery</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="full-width-masonry-gallery">Full Width Masonry Gallery</a></li>

                                            </ul>
                                        </li>
                                        
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="faq">Faq</a>
                                            <!-- RD Navbar Dropdown-->
                                            <!-- <ul class="housvibe-menu housvibe-navbar-dropdown">
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="shop">Shop</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="single-product">Single Product</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="cart-page">Cart Page</a></li>
                                                <li class="housvibe-dropdown-item"><a class="housvibe-dropdown-link" href="checkout">Checkout</a></li>
                                            </ul> -->
                                        </li>
                                        <li class="housvibe-nav-item"><a class="housvibe-nav-link" href="contact-us">Contact Us</a> </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Breadcrumbs -->
        <section class="breadcrumbs-custom-inset">
            <div class="breadcrumbs-custom context-dark">
                <div class="container">
                    <h2 class="breadcrumbs-custom-title">Masonry gallery</h2>
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="index">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">Masonry gallery</li>
                    </ul>
                </div>
                <div class="box-position" style="background-image: url(images/bg-breadcrumbs.jpg);"></div>
            </div>
        </section>
        <section class="section section-sm bg-default text-center isotope-wrap">
            <div class="container">
                <div class="isotope-filters isotope-filters-horizontal">
                    <button class="isotope-filters-toggle button button-md button-icon button-icon-right button-default-outline button-wapasha" data-custom-toggle="#isotope-8" data-custom-toggle-hide-on-blur="true"><span class="icon fa fa-caret-down"></span>Filter</button>
                    <ul class="isotope-filters-list" id="isotope-8">
                        <li><a class="active" href="#" data-isotope-filter="*" data-isotope-group="gallery">All</a></li>
                        <li><a href="#" data-isotope-filter="Type 1" data-isotope-group="gallery">Apartments</a></li>
                        <li><a href="#" data-isotope-filter="Type 2" data-isotope-group="gallery">Offices</a></li>
                        <li><a href="#" data-isotope-filter="Type 3" data-isotope-group="gallery">Corporate designs</a></li>
                    </ul>
                </div>
                <div class="row row-30 isotope" data-lightgallery="group">
                    <div class="col-sm-4 col-lg-3 isotope-item" data-filter="Type 3">
                        <!-- Thumbnail Classic-->
                        <article class="thumbnail thumbnail-mary thumbnail-xs">
                            <div class="thumbnail-mary-figure"><img src="images/gallery/gallery-2.jpg" alt="" width="270" height="300" /> </div>
                            <div class="thumbnail-mary-caption">
                                <a class="icon fl-bigmug-line-zoom60" href="images/gallery/gallery-2.jpg" data-lightgallery="item"><img src="images/gallery/gallery-2.jpg" alt="" width="270" height="300" /></a>
                                <h5 class="thumbnail-mary-title"><a href="single-project">Project #1</a></h5>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-8 col-lg-6 isotope-item" data-filter="Type 2">
                        <!-- Thumbnail Classic-->
                        <article class="thumbnail thumbnail-mary thumbnail-lg thumbnail-custom-mobile">
                            <div class="thumbnail-mary-figure"><img src="images/gallery/gallery-1.jpg" alt="" width="570" height="300" /> </div>
                            <div class="thumbnail-mary-caption">
                                <a class="icon fl-bigmug-line-zoom60" href="images/gallery/gallery-1.jpg" data-lightgallery="item"><img src="images/gallery/gallery-1.jpg" alt="" width="570" height="300" /></a>
                                <h5 class="thumbnail-mary-title"><a href="single-project">Project #2</a></h5>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-4 col-lg-3 isotope-item" data-filter="Type 1">
                        <!-- Thumbnail Classic-->
                        <article class="thumbnail thumbnail-mary thumbnail-xs">
                            <div class="thumbnail-mary-figure"><img src="images/gallery/gallery-3.jpg" alt="" width="270" height="300" /> </div>
                            <div class="thumbnail-mary-caption">
                                <a class="icon fl-bigmug-line-zoom60" href="images/gallery/gallery-3.jpg" data-lightgallery="item"><img src="images/gallery/gallery-3.jpg" alt="" width="270" height="300" /></a>
                                <h5 class="thumbnail-mary-title"><a href="single-project">Project #3</a></h5>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-8 col-lg-6 isotope-item" data-filter="Type 3">
                        <!-- Thumbnail Classic-->
                        <article class="thumbnail thumbnail-mary thumbnail-lg thumbnail-custom-mobile">
                            <div class="thumbnail-mary-figure"><img src="images/gallery/gallery-4.jpg" alt="" width="570" height="300" /> </div>
                            <div class="thumbnail-mary-caption">
                                <a class="icon fl-bigmug-line-zoom60" href="images/gallery/gallery-4.jpg" data-lightgallery="item"><img src="images/gallery/gallery-4.jpg" alt="" width="570" height="300" /></a>
                                <h5 class="thumbnail-mary-title"><a href="single-project">Project #4</a></h5>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 isotope-item" data-filter="Type 2">
                        <!-- Thumbnail Classic-->
                        <article class="thumbnail thumbnail-mary thumbnail-xs">
                            <div class="thumbnail-mary-figure"><img src="images/gallery/gallery-5.jpg" alt="" width="270" height="300" /> </div>
                            <div class="thumbnail-mary-caption">
                                <a class="icon fl-bigmug-line-zoom60" href="images/gallery/gallery-5.jpg" data-lightgallery="item"><img src="images/gallery/gallery-5.jpg" alt="" width="270" height="300" /></a>
                                <h5 class="thumbnail-mary-title"><a href="single-project">Project #5</a></h5>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 isotope-item" data-filter="Type 1">
                        <!-- Thumbnail Classic-->
                        <article class="thumbnail thumbnail-mary thumbnail-xs">
                            <div class="thumbnail-mary-figure"><img src="images/gallery/gallery-6.jpg" alt="" width="270" height="300" /> </div>
                            <div class="thumbnail-mary-caption">
                                <a class="icon fl-bigmug-line-zoom60" href="images/gallery/gallery-6.jpg" data-lightgallery="item"><img src="images/gallery/gallery-6.jpg" alt="" width="270" height="300" /></a>
                                <h5 class="thumbnail-mary-title"><a href="single-project">Project #6</a></h5>
                            </div>
                        </article>
                    </div>
                </div>

            </div>
        </section>

        <!-- Footer section start -->
        <footer class="section footer-variant-2 footer-modern context-dark">
            <div class="footer-variant-2-content">
                <div class="container">
                    <div class="row row-40 justify-content-between">
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="oh-desktop">
                                <div class="">
                                    <div class="footer-brand">
                                        <a href="index"> <img class="logo-footer" src="images/logos/footer-default.png" alt="Footer Logo" /></a>
                                    </div>
                                    <p>Our goal is always to create designs tailored to our clients unique personal styles and practical needs</p>
                                    <ul class="footer-contacts d-inline-block d-md-block">
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                                                <div class="unit-body"><a class="link-phone" href="tel:#">+91 9987502035</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon fa fa-clock-o"></span></div>
                                                <div class="unit-body">
                                                    <p>Mon-Sat: 07:00AM - 05:00PM</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                                                <div class="unit-body"><a class="link-location" href="#">704, B-Wing, Wadhwa platina, Kolshet Rd, Thane, Maharastra 400607</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xl-4">
                            <div class="oh-desktop">
                                <div class="inset-top-18">
                                    <h5 class="text-spacing-75">Newsletter</h5>
                                    <p>Join our email list for tips and useful information.</p>
                                    <form class="housvibe-form housvibe-mailform" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="#">
                                        <div class="form-wrap">
                                            <input class="form-input" id="subscribe-form-5-email" type="email" name="email" data-constraints="@Email @Required">
                                            <label class="form-label" for="subscribe-form-5-email">Enter Your E-mail</label>
                                        </div>
                                        <button class="button button-block button-secondary button-ujarak" type="submit">Subscribe</button>
                                    </form>
                                    <div class="group-lg group-middle">
                                        <p class="footer-social-list-title">Follow Us</p>
                                        <div>
                                            <ul class="list-inline list-inline-xs footer-social-list-2">
                                                <li>
                                                    <a class="icon fa fa-facebook" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="icon fa fa-twitter" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="icon fa fa-google-plus" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="icon fa fa-instagram" href="#"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xl-4">
                            <div class="oh-desktop">
                                <div class="inset-top-18">
                                    <h5 class="text-spacing-75">Gallery</h5>
                                    <div class="row row-10 gutters-10">
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-6.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-6.jpg" data-lightgallery="item"><img src="images/products/products-img-6.jpg" alt="" width="370" height="303"></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-5.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-5.jpg" data-lightgallery="item"><img src="images/products/products-img-5.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-4.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-4.jpg" data-lightgallery="item"><img src="images/products/products-img-4.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-3.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-3.jpg" data-lightgallery="item"><img src="images/products/products-img-3.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-2.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-2.jpg" data-lightgallery="item"><img src="images/products/products-img-2.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-4 col-sm-2 col-lg-4">
                                            <article class="thumbnail thumbnail-mary">
                                                <div class="thumbnail-mary-figure"><img src="images/products/products-img-1.jpg" alt="" width="128" height="120" /> </div>
                                                <div class="thumbnail-mary-caption">
                                                    <a class="icon fl-bigmug-line-zoom60" href="images/products/products-img-1.jpg" data-lightgallery="item"><img src="images/products/products-img-1.jpg" alt="" width="128" height="120" /></a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-variant-2-bottom-panel">
                <div class="container">
                    <!-- Rights-->
                    <div class="text-center">
                        <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span> <span>Housvibe</span>. All rights reserved. </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer section end -->
    </div>

    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="dist/color-switcher.js"></script>
    <!-- <script src="dist/colorJS.js"></script>  -->
    <script src="js/script.js"></script>
</body>

</html>
